<h1>Fly management made easy</h1>

<dl class="sub-nav">
  <dd class="active"><a href="http://drosophila.me">Home</a></dd>
  <dd><a href="/static_pages/team">Team</a></dd>
  <dd><a href="http://ourdisclaimer.com/?i=drosophila.me">Disclaimer</a></dd>
</dl>

<div class="panel">
<h3>Beta version <i class="fi-safety-cone"></i></h3>
<p>It would help a lot for the development of this application, if you would report any bugs encountered while using the software.</p>
<p>If you have any feature wishes: I'm open for suggestions on that as well.</p>
<p>E-mail me: <a href="mailto:m.metzler@me.com"><i class="fi-mail"></i></a>
</div>
<div class="panel">
<h3>Welcome to Drosophila.me</h3>
<p>Drosophila.me was developped to make fly work easier:</p>
<ul>
	<li>Design your genetic crosses</li>
	<li>Share your design with colleagues</li>
	<li>Print nicely typesetted crossing schemes</li>
</ul>
<p>Features planned for the future:</p>
<ul>
	<li>Frequencies</li>
	<li>Fly stock management</li>
	<li>Uniqueness of selection (markers)</li>
	<li>Import from FlyBase</li>
	<li>[...]</li>
	<li>Cross suggestion (far future)</li>
</ul>
<p><a href="https://www.statuscake.com" title="Website Uptime Monitoring"><img src="https://www.statuscake.com/App/button/index.php?Track=kSuXRTZojO&Days=1&Design=6" /></a></p>
</div>
