<h1>drosophila.me</h1>
<div class="panel">
<p>A tool for the <i>Drosophila melanogaster</i> genetists of the world.</p>
<p>Design your crosses and share them with your colleagues<p>

<h3>Note</h3>
<p>This website is still under heavy development, if you find glitches (or wishes) I would be happy to hear about it: <a href="mailto:m.metzler@me.com">m.metzler@me.com</a></p>
<p>Thanks and happy crossing</p>
<p>Mario Metzler</p>
</div>
