<h1>drosophila.me Team</h1>
<dl class="sub-nav">
  <dd><a href="http://drosophila.me">Home</a></dd>
  <dd class="active"><a href="/static_pages/team">Team</a></dd>
  <dd><a href="http://ourdisclaimer.com/?i=drosophila.me">Disclaimer</a></dd>
</dl>
<div class="panel">
  <div class="row">
    <div class="large-4 columns">
      <%= gravatar_tag "m.metzler@me.com", :size => 200, :html => { :class => "img-circular-grav" } %>
    </div>
    <div class="large-8 columns">
      <h3>Mario Metzler</h3>
      <p>PhD student at the Biozentrum of the University of Basel, Switzerland.</p>
      <p>Usual activity: CRISPRing around in the Abd-B regulatory locus.</p>
      <p>Drosophila.me activity: Development, Design, Deployment.</p>
      <p>E-mail: <a href="mailto:m.metzler@me.com">m.metzler@me.com</a>
      </div>
    </div>
  </div>