<nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
          <li><a href="<%= request.base_url %>">Drosophila.me</a></li>
          <li><a href="<%= request.base_url %>/stocks">Stocks</a></li>
          <li>
            <span class="show-for-sr">Current: </span> Edit stock
          </li>
        </ul>
      </nav>

<h1>Editing Stock</h1>

<div class="panel">
<%= render 'form' %>
</div>
