<h1>Listing Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Fly</th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.number %></td>
        <td><%= stock.fly_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
