<%= form_for(@cross) do |f| %>

<div class="field">
<div class="panel">
  <h5>Male genotype</h5>
     <input type="text" name="male" />
</div>

<div class="panel">
  <h5>Female genotype</h5>
     <input type="text" name="female" />
</div>


<div class="actions">
    <%= f.submit %>
</div>
</div>

<% end %>
