<p id="notice"><%= notice %></p>

<h1>Listing Crosses</h1>

<% @crosses.each do |cross| %>
<a href="<%= cross_path(cross) %>">
<div class="panel">
  <h5><%= cross.male_id %> X <%= cross.female_id %></h5>
  <p>Description</p>
</div>
</a>
<% end %>

<% # link_to 'Show', cross %>
<% # link_to 'Edit', edit_cross_path(cross) %>
<% # link_to 'Destroy', cross, method: :delete, data: { confirm: 'Are you sure?' } %>
