// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img-circular-grav{
 width: 180px;
 height: 180px;
 background-size: cover;
 display: block;
 border-radius: 300px;
 -webkit-border-radius: 300px;
 -moz-border-radius: 300px;
}